.titulo{
	margin-left: 5px;
	color:black;
	font:bold;
}

.fondo{
	position:fixed;
	top:0;
	left:0;
	z-index:-2;
	height:100%;
	width:100%;
}

.menu-principal{
	height: 100%;
}

.top{
  height:35px;
  margin-top:5px;
}

.colorfondo{
  background-color: rgba(255,255,255,0.5); 
}

.bloqinfo a:link{
	color: red;
	text-decoration: none;
}
.bloqinfo a:visited{
	color: black;
	text-decoration: none;
}
