.tablaheroe{
	padding: 20px;
}
.cuerponoticia{
	padding:20px;
}

.imagenteam{
	margin-top:10px;
	margin-bottom:30px;
}
.titulo{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font: bold;
}
span{
	float:right;
	margin-right:8px;
}

body{
	background-color:black;
}
.container{
	background-color:white;
	min-height: 600px;
}

.cursorpointer{
    cursor:pointer;
}

.seccion{
	border:solid;
	margin-top:10px;
	margin-bottom:10px;
}

.cabezera{
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border:solid;
	background: linear-gradient(top,tomato, #009900, #003399);
}
.cabezera p{
	margin-left:15px;
}
.iconomenu{
	height:100px;
	border:solid;
	border-right: dotted 3px #000000;
}

.textomenu{
	margin-top:30px;
	border:solid;
}

.tablaheroe{
	margin-top:20px;
}

.estilologin{
    position: absolute;
    top: 10px;
    right: 10px;
}
