body{
	background-color:#90EE90;
}
.fotopartida{
	height:50px;
	width:50px;
}
.indexprincipal{
	position:fixed;
	top: 2px;
	left: 2px;
}
.imagenteam{
	margin-top:10px;
	margin-bottom:30px;
}

.fotoperfil{
	margin-top:5px;
	height:100px;
	width:100px;
}

.seccion{
	margin-top:10px;
	margin-bottom:10px;
}

.iconomenu{
	height:100px;
	border-right: solid 1px #FFFFFF;
}

.textomenu{
	margin-top:30px;
}

.login {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #c22525);
  background-image: -moz-linear-gradient(top, #ff0000, #c22525);
  background-image: -ms-linear-gradient(top, #ff0000, #c22525);
  background-image: -o-linear-gradient(top, #ff0000, #c22525);
  background-image: linear-gradient(to bottom, #ff0000, #c22525);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 32px 3px 32px;
  text-decoration: none;
  position: fixed;
  right: 10px;
  top: 10px;
}
.ubicacon{
	border-style:solid;
	border-width: 5px;
}
.flotarderecha{
	float:right;
}

.visible{
	visibility: hidden;
}


/*COLORES FORO*/
.tema{
	background: linear-gradient(#003399,#009900);
}
.tema2{
	background: linear-gradient(#009900, #003399);
}
.temamensaje{
	background: linear-gradient(#FFFFFF, #CCCCCC, #FFFFFF);
}


h5{
	margin-left:5px;	
}

.cabezera{
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	background: linear-gradient(#009900, #003399);
}
.cabezeramensaje,.cabezeramensaje h4{
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	background: black;
}
 h4{
	margin-left:15px;
	margin-right:15px;
	color: white;
	border-bottom:solid 1px;
}