body{
	background-color:#90EE90;
}

.imagenteam{
	margin-top:10px;
	margin-bottom:30px;
}

.seccion{
	border:solid;
	margin-top:10px;
	margin-bottom:10px;
}

.cabezera{
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border:solid;
	background: linear-gradient(top,tomato, #009900, #003399);
}
.cabezera p{
	margin-left:15px;
}
.iconomenu{
	height:100px;
	border:solid;
	border-right: dotted 3px #000000;
}

.textomenu{
	margin-top:30px;
	border:solid;
}